@import url('https://fonts.googleapis.com/css?family=Codystar|Julius+Sans+One');

/* table {
  font-size: 1rem;
} */

body{
    background-image: url("../images/tube_escalator_mono.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

h1{
  /* font-family: 'Text Me One', sans-serif; */
  font-family: 'Julius Sans One', sans-serif;
}

.arrivals_list{
  background-color: #000000;
}

.display_boards{
  font-family: 'Codystar', cursive;
}

.station_error{
  border: 1px solid #dc3545;
  color: #dc3545;
}

/*
breakpoints
*/

@media (min-width: 350px) {
  table {
    font-size: 0.9rem;
  }
  h1{
    font-size: 1.2rem;
  }
}

@media (min-width: 768px) {
  table {
    font-size: 1.1875rem;
  }
  h1{
    font-size: 1.5rem;
  }
}

@media (min-width: 992px) {
  table {
    font-size: 1.375rem;
  }
  h1{
    font-size: 2.0rem;
  }
}

@media (min-width: 1200px) {
  table {
    font-size: 1.5625rem;
  }
  h1{
    font-size: 2.5rem;
  }
}
