{%extends "master_layout.html"%}
{%block content%}
  {% if msg %}
    <div class="row text-center">
      <h1 class="central col-sm-6">{{headers["station"]}}</h1>
      <h1 class="status col-sm-6">LINE STATUS - {{line_status["line_status"]}}</h1>
    </div>
    <div class="display_boards row">
      <div class="col-sm-2"></div>
      <div class="table-responsive col-sm-8">
        <table class="table table-bordered table-dark text-warning text-center">
          <tr><th colspan="6">{{msg}}</th></tr>
          <tr>
            <td class="text-danger font-weight-bold">{{line_status["line_name"]}} LINE STATUS : {{line_status["line_status"]}}</td>
          </tr>
          <tr>
            <td class="text-primary font-weight-bold">{{distruption_info}}</td>
          </tr>
        </table>
      </div>
      <div class="col-sm-2"></div>
    </div>
  {% else %}
    <div class="row text-center">
      <h1 class="central col-sm-6">{{headers["line"]}} Line : {{headers["station"]}}</h1>
      <h1 class="status col-sm-6">LINE STATUS - {{line_status["line_status"]}}</h1>
    </div>
    {% for arr,arrival in arrivals.items() %}
      <div class="display_boards row">
        <div class="col-sm-2"></div>
        <div class="table-responsive col-sm-8">
          <table class="table table-bordered table-dark text-warning ">
            <tr class="text-center">
                <th colspan="6">{{arr}}</th>
            </tr>
            {% for arr in arrival %}
              <tr>
                <td class="text-center">{{loop.index}}</td>
                <td>{{arr["towards"]}}</td>
                <td class="text-center">{{arr["arriving_in"]}} mins</td>
                <td class="text-center">{{arr["time_expected"]}}</td>
                <td>{{arr["currently_at"]}}</td>
              </tr>
            {% endfor %}
          </table>
        </div>
        <div class="col-sm-2"></div>
      </div>
    {% endfor %}
  {% endif %}
  <a href="/" class="btn btn-outline-primary" role="button">Perform another search</a></div>
{%endblock%}
