{%extends "master_layout.html"%}
{% block js_script %}
  <script type="text/javascript">
    var stations = {{stations|tojson}};

    $( function() {
      $( "#station" ).autocomplete({source: stations});
    });

    // load event listener ensures form is available for access
    window.addEventListener("load", function(){
      $("#get_trains").on("click", function(event){
        event.preventDefault();
        var station_name = $("#station").val();
        // has a value been supplied AND is it an actual known station
        if (station_name.trim().length > 0 && stations.includes(station_name)) {
          $("form").submit();
        }
        else{
          var message = "Please provide a valid station";
          $("#station").val(message).addClass("station_error");
        }
      });

      $("#station").bind("focus", function(){
        $(this).val("").removeClass("station_error");
      });
    });
  </script>
{% endblock %}
{%block content%}
  <form action="/arrivals">
    <div class="form-group col-sm-6">
      <label for="station">Enter station name...</label>
      <input type="text" class="form-control" id="station" name="station_name">
    </div>
    <div class="form-group col-sm-6">
      <button type="submit" class="btn btn-primary btn-lg" id="get_trains">Get Trains</button>
    </div>
  </form>
{%endblock%}
